<form [formGroup]="forgotForm" (ngSubmit)="forgotPass()">
    <div>
        <input type="email" class="form-control"  formControlName="emailTo"  maxlength="50"  placeholder="Email to send recovery link"/>
    </div>
    <div *ngIf="FormForgot.emailTo.invalid && (FormForgot.emailTo.dirty||FormForgot.emailTo.touched)" class="alert alert-danger mt-1" >
        <div *ngIf="FormForgot.emailTo.errors">
            <div *ngIf="FormForgot.emailTo.errors.required">
                <small class="form-text text-danger">Email is required.</small>
            </div>
          </div>
          <div *ngIf="FormForgot.emailTo.errors.email">
            <small id="emailHelp" class="form-text text-danger">Email is invalid</small>
        </div>
     </div>
    <br>
    <div>
        <button data-mdb-toggle="modal" data-mdb-target="#staticBackdropSendmail"  type="submit" class="btn btn-primary" style="width: 100%;" data-bs-dismiss="modal" >Send recovery link</button>
        <br />
      <div class="d-flex justify-content-between mt-4  mb-3">
        <p class="h6"><a class="r text-decoration-none pe-auto text-primary" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop1">
            Create Account
        </a></p>
        <p class="h6"><a class="r text-decoration-none pe-auto text-primary "data-bs-toggle="modal"
            data-bs-target="#staticBackdrop" >
            Login
        </a></p>
      </div>
    </div>
</form>
 