<div >
    <form [formGroup]="ResetForm" (ngSubmit)="onSubmit()">
    <div class="container custom-form">
        <img class="img-rs" src="https://imgur.com/vWNqDDq.jpg" width="230px">
        <h5 class="text-h5">Reset your password </h5>
        <span class="text-for">for</span>
        <a href="#" class="email-t">{{email}}</a>
        <!-- <input type="text" class="form-control"  formControlName="token"  /> -->
        <div class="passeyes"> 
            <input style="margin-top: 40px" [type]="hiden ? 'password':'text' " class="form-control" name="password" formControlName="password" id="password" placeholder="Password "/>
            <span class="eyes" (click)="hiden = !hiden"><i [class]="hiden ? 'fa fa-eye' : 'fa fa-eye-slash' "></i></span>
            <div *ngIf="FormReset.password.invalid && (FormReset.password.dirty||FormReset.password.touched) "class="alert alert-danger">
                <div *ngIf="FormReset.password.errors">
                    <div *ngIf="FormReset.password.errors.required">
                        <small class="form-text text-danger">Password is required.</small>
                    </div>
                  </div>
                  <div *ngIf="FormReset.password.errors.pattern">
                    <small id="emailHelp" class="form-text text-danger">Password must be at least 8 characters long, at least one uppercase, one lowercase, one special characters, and one number</small>
                </div>
                <div *ngIf="FormReset.password.errors.maxlength">
                    <small class="form-text text-danger">You cannot enter more than 50 characters.</small>
                </div>
             </div>
        </div>
      
        <div style="align-items: center; text-align: center;margin-top: 27px;"> 
            <button  class="bt-cancle">Cancle</button>
            <button (click)="unSucessly()" *ngIf="FormReset.password.invalid" class="bt-save" type="button">Save</button>
            <button *ngIf="!FormReset.password.invalid" class="bt-save" type="submit">Save</button>
        </div>
    </div>
</form>
</div>