html, body {
    height: 100%;
    background-color: #00aae7;
}
.custom-form{
    width: 414px;
    height: 414px;
    margin-top: 136px;
    background-color: #80808017;
}
.img-rs{
    width: 160px;
    margin-left: 105px;
    margin-top: 22px;
}
.email-t{
    text-align: center;
    margin-left: 9px;
    color: #00aae7;
}
.text-for{
    text-align: center;
    margin-left: 70px;
}
.text-h5{
    color: #00aae7;
    text-align: center;
    margin-top: 15px;
}
.eyes{
    position: relative;
    top: -30px;
    right: -330px;
    cursor: pointer;
}
.passeyes{
    position: relative;
}
.bt-save{
    background-color: #00aae7;
    color: white;
    border: none;
    width: 89px;
    height: 35px;
    border-radius: 6px;
    margin-left: 31px;
}
.bt-cancle{
    background-color: #808080c2;
    color: white;
    border: none;
    width: 89px;
    height: 35px;
    border-radius: 6px;
}