.containers {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.width {
    width: 80px;
}



.hc {
    height: 230px;
}

.htb {
    height: 150px;
}

.htbs {
    height: 107px;
}

.ft {
    margin-bottom: 40px;
}

.ofWidth {
    width: 480px;
}


.bgs {
    background-color: #00AAE726;
}

.bgse {
    background: #00a9e759 0% 0% no-repeat padding-box;
}


.clb {
    color: #00AAE7;
}

.btns {
    background-color: #00B8FB;
}

.hit {
    background-color: #d1d4d7;
    height: 32px;
    margin: 0 0.8rem;
    width: 2px;
}

.widthAverage {
    width: 190px;
}

.active {
    background-color: #00AAE7;
    color: #FFF;
}
.btnss {
    border: #00AAE7 1xp solid;
   
}
.btnss:hover {
    border: #00AAE7 1xp solid;
    background-color: #00AAE7;
    color: #FFF;
}

