.containers {
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 40px;
    
}

.down {
    margin-top: 180px;
}

.h1s {
    // font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: bold;
    
    line-height: 110%;
    
}

.sdown {
    display: block;
}
.upb{
margin-top: 80px;
}

.blue {
    color: #00AAE7;
}

.border-blue {

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #00AAE7;
}
.down-t{
    margin-top: 120px;
}
.black{
    color: #000000A1;
}